In [1]:
import boto3

In [2]:
session = boto3.Session('AKIAQONCNYAERM7KZPOD','EJdgkMgE7xlBGM85TR+xEXGMrD9tCURFiTRBVwtA')

In [4]:
ddb = session.resource('dynamodb', region_name='us-east-2')

In [8]:
pbp = ddb.Table('historical_pbp_modelled')

In [9]:
game_log = ddb.Table('game_log')

In [7]:
from boto3.dynamodb.conditions import Key

In [12]:
game_log_data = game_log.query(KeyConditionExpression=Key('GAME_DATE').eq('2022-01-01'))['Items']

In [15]:
import pandas as pd

In [17]:
pd.DataFrame(game_log_data)['GAME_ID']

0    22100539
1    22100540
2    22100541
3    22100542
4    22100543
5    22100544
Name: GAME_ID, dtype: object

In [19]:
data = t.query(
    KeyConditionExpression=Key('GAME_ID').eq(22100540)
)['Items']

In [20]:
pd.DataFrame(data)

,GAME_ID,OT_ind,PLAY_NUMBER,elo1_pre,MATCHUP,time_remaining,home_poss,home_team_win,preds_wO_elo,diff,elo2_pre,preds_w_elo
0,22100540,0,0,1285.49250784811,DET vs. SAS,2880,0,1,0.5621783137321472,0,1520.80585709868,0.3346063494682312
1,22100540,0,1,1285.49250784811,DET vs. SAS,2880,1,1,0.5621783137321472,0,1520.80585709868,0.3339302241802215
2,22100540,0,2,1285.49250784811,DET vs. SAS,2864,0,1,0.5608792304992676,-2,1520.80585709868,0.2999674379825592
3,22100540,0,3,1285.49250784811,DET vs. SAS,2842,1,1,0.5621783137321472,1,1520.80585709868,0.3518432080745697
4,22100540,0,4,1285.49250784811,DET vs. SAS,2836,1,1,0.5621783137321472,1,1520.80585709868,0.3518773317337036
...,...,...,...,...,...,...,...,...,...,...,...,...
577,22100540,1,577,1285.49250784811,DET vs. SAS,1,0,1,0.862005352973938,1,1520.80585709868,0.8879187107086182
578,22100540,1,578,1285.49250784811,DET vs. SAS,1,0,1,0.862005352973938,1,1520.80585709868,0.8879187107086182
579,22100540,1,579,1285.49250784811,DET vs. SAS,1,0,1,0.862005352973938,1,1520.80585709868,0.8879187107086182
580,22100540,1,580,1285.49250784811,DET vs. SAS,1,0,1,0.862005352973938,1,1520.80585709868,0.8879187107086182
581,22100540,1,581,1285.49250784811,DET vs. SAS,0,0,1,0.8656107187271118,1,1520.80585709868,0.8882565498352051