In [1]:
'''
logic

get unique game_ids in the pbp
get the gamelog for the most recent nba games this season

see what games you dont have

for those games get the pbp data
merge it all together and upload it to database


for all the games you download

create the features
merge with elo scores
use the model and predict on them 
save them to database 

'''

'''
change that 
source fo truth on game_log'''

from pymongo import MongoClient

client = MongoClient('localhost', 27017)
db = client['NBA']

db.list_collection_names()



import pandas as pd
import numpy as np
from nba_api.stats.endpoints import playbyplayv2, leaguegamelog, leaguegamefinder
from preprocess import feature_engineer
from nba_helper import read_url_to_csv, elo_url
from time import sleep

In [88]:
# get current game log

gl = pd.DataFrame.from_records(db.game_log.find())

In [17]:
lgl = leaguegamelog.LeagueGameLog().get_data_frames()[0].astype({'GAME_ID':int})

In [89]:
games_to_update = set(lgl['GAME_ID']).difference(set(gl['GAME_ID']))

In [91]:
if games_to_update:
    print(5)
else:
    print(4)

4

In [73]:
games_to_update_df = lgl[(lgl['GAME_ID'].isin(games_to_update))&\
   (~lgl['MATCHUP'].str.contains('@'))]

In [74]:
db.game_log.insert_many(games_to_update_df.to_dict('records'))

In [33]:
games_to_update_df[['Home', 'Away']] = games_to_update_df['MATCHUP'].str.split('vs.', expand=True)
games_to_update_df.loc[:, 'Home'] = games_to_update_df['Home'].str.strip()
games_to_update_df.loc[:, 'home_team_win'] = games_to_update_df['WL'].replace({'W':1, 'L':0})

In [36]:
elo = read_url_to_csv(elo_url)
elo = elo[elo['date'] > '2012-01-01']

elo.loc[:, 'elo_difference'] = np.abs(elo['elo1_pre'] - elo['elo2_pre'])

elo = elo[['date', 'team1', 'elo1_pre', 'elo2_pre', 'elo_difference']]

elo['team1'] = elo['team1'].replace({'BRK':'BKN',
                                     'PHO':'PHX',
                                    'CHO':'CHA',})

In [40]:
df = games_to_update_df.merge(elo, 
                             left_on=['GAME_DATE', 'Home'], 
                             right_on = ['date', 'team1'])[['GAME_ID', 'elo1_pre', 'elo2_pre', 
                                                           'elo_difference', 'home_team_win']]

In [41]:
df

     GAME_ID     elo1_pre     elo2_pre  elo_difference  home_team_win
0   22100584  1527.509399  1695.642200      168.132802              1
1   22100583  1576.222215  1580.527158        4.304943              0
2   22100585  1585.590869  1465.948081      119.642788              1
3   22100587  1335.622199  1498.299968      162.677769              0
4   22100586  1324.919635  1562.153280      237.233645              0
..       ...          ...          ...             ...            ...
56  22100637  1555.443668  1634.072143       78.628474              0
57  22100636  1612.779570  1463.134333      149.645237              1
58  22100638  1475.210747  1597.842734      122.631987              0
59  22100639  1628.497290  1564.133002       64.364288              0
60  22100640  1370.181727  1311.455836       58.725891              1

[61 rows x 5 columns]

In [44]:
pbps = []
for g_id in df['GAME_ID'].unique():
    pbps.append(playbyplayv2.PlayByPlayV2(f'00{g_id}').get_data_frames()[0])
    sleep(0.5)

In [50]:
pbp_df = pd.concat(pbps).astype({'GAME_ID':int})

pbp_df_prepped = feature_engineer(pbp_df)

In [55]:
final_df = pbp_df_prepped.merge(df, on=['GAME_ID'])

In [57]:
wEloCols = ['home_poss', 'diff', 'time_remaining', 'OT_ind', 'elo1_pre', 'elo2_pre']

wOEloCols = ['home_poss', 'diff', 'time_remaining', 'OT_ind']

In [63]:
import tensorflow as tf
model = tf.keras.models.load_model('../Models/TF_model_w_elo.h5')
model_wO_elo = tf.keras.models.load_model('../Models/TF_model_wO_elo.h5')

In [64]:
final_df.loc[:, 'preds_w_elo'] = model.predict_on_batch(final_df[wEloCols])
final_df.loc[:, 'preds_wO_elo'] = model_wO_elo.predict_on_batch(final_df[wOEloCols])

In [65]:
final_df

        GAME_ID  home_poss  diff  ...  home_team_win  preds_w_elo  preds_wO_elo
0      22100584          0     0  ...              1     0.375489      0.607601
1      22100584          1     0  ...              1     0.374682      0.610178
2      22100584          0     0  ...              1     0.376107      0.606385
3      22100584          0     0  ...              1     0.376269      0.606068
4      22100584          1     0  ...              1     0.375515      0.608544
...         ...        ...   ...  ...            ...          ...           ...
28217  22100640          1    11  ...              1     0.997234      0.999973
28218  22100640          1    12  ...              1     0.998251      0.999991
28219  22100640          0    12  ...              1     0.998372      0.999992
28220  22100640          1    12  ...              1     0.998355      0.999995
28221  22100640          0    12  ...              1     0.998520      0.999996

[28222 rows x 11 columns]

In [66]:
db.list_collection_names()

['historical_raptor',
 'player2k',
 'game_log',
 'shot_chart',
 'historical_pbp_modelled',
 'historical_pbp']

In [67]:
db.historical_pbp_modelled.insert_many(final_df.to_dict('records'))

In [75]:
game_date = '2022-01-07'
data = db.game_log.find({"GAME_DATE":game_date})
d = pd.DataFrame.from_records(data)

In [76]:
d

                        _id SEASON_ID  ...  PLUS_MINUS VIDEO_AVAILABLE
0  61e2e16e79a1a87533b12f3f     22021  ...          14               1
1  61e2e16e79a1a87533b12f40     22021  ...         -12               1
2  61e2e16e79a1a87533b12f41     22021  ...           8               1
3  61e2e16e79a1a87533b12f42     22021  ...         -30               1
4  61e2e16e79a1a87533b12f43     22021  ...         -24               1
5  61e2e16e79a1a87533b12f44     22021  ...          10               1
6  61e2e16e79a1a87533b12f45     22021  ...          19               1
7  61e2e16e79a1a87533b12f46     22021  ...          16               1
8  61e2e16e79a1a87533b12f47     22021  ...         -13               1

[9 rows x 30 columns]

In [77]:
from apscheduler.schedulers.background import BackgroundScheduler

In [97]:
from pytz import utc
scheduler = BackgroundScheduler()
scheduler.configure(timezone=utc)
def myfunc():
    print('t')
    return True

job = scheduler.add_job(myfunc, 'interval', seconds=2, id='test_job')
scheduler.start()

t
t
t
t
t
t
t
t
t
t

In [98]:
scheduler.shutdown()