In [1]:
import boto3
from boto3.dynamodb.conditions import Key

In [2]:
dynamoDB = boto3.resource('dynamodb', region_name = 'us-east-2')

In [84]:
game_logdb = dynamoDB.Table('game_log')

In [6]:
import pandas as pd

In [13]:
pd.DataFrame(data = game_log.query(
    KeyConditionExpression=Key('GAME_DATE').eq('2022-01-01') & Key('GAME_ID').eq(22100539)
)['Items'])

,AST,DREB,VIDEO_AVAILABLE,FGM,FG3_PCT,REB,MIN,FG3M,FTA,MATCHUP,...,FG_PCT,STL,PTS,Home,OREB,GAME_DATE,FT_PCT,PF,FGA,TEAM_ID
0,27,44,1,49,0.479,48,240,23,18,MIL vs. NOP,...,0.533,10,136,MIL,4,2022-01-01,0.833,20,92,1610612749

In [85]:
response = game_logdb.scan()
result = response['Items']

while 'LastEvaluatedKey' in response:
    response = game_logdb.scan(ExclusiveStartKey=response['LastEvaluatedKey'])
    result.extend(response['Items'])

In [86]:
len(result)

7728

In [87]:
pd.DataFrame(result).sort_values(by='GAME_DATE', ascending=False)

,AST,DREB,VIDEO_AVAILABLE,FGM,FG3_PCT,REB,MIN,FG3M,FTA,MATCHUP,...,FG_PCT,STL,PTS,Home,OREB,GAME_DATE,FT_PCT,PF,FGA,TEAM_ID
6990,25,30,1,47,0.455,37,240,10,18,CHI vs. CLE,...,0.547,7,117,CHI,7,2022-01-19,0.722,18,86,1610612741
6986,23,27,1,41,0.345,40,240,10,32,WAS vs. BKN,...,0.477,6,118,WAS,13,2022-01-19,0.813,19,86,1610612764
6991,29,43,1,46,0.351,56,240,13,22,MIL vs. MEM,...,0.474,7,126,MIL,13,2022-01-19,0.955,21,97,1610612749
6992,23,35,1,37,0.273,45,240,9,20,DAL vs. TOR,...,0.487,5,102,DAL,10,2022-01-19,0.95,20,76,1610612742
6993,32,39,1,47,0.375,50,240,15,14,SAS vs. OKC,...,0.49,9,118,SAS,11,2022-01-19,0.643,17,96,1610612759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4302,20,39,1,37,0.192,56,240,5,12,ORL vs. WAS,...,0.37,9,87,ORL,17,2015-10-28,0.667,22,100,1610612753
4314,24,37,1,41,0.458,49,240,11,18,SAC vs. LAC,...,0.436,8,104,SAC,12,2015-10-28,0.611,27,94,1610612758
6223,29,35,1,41,0.3,56,240,9,22,GSW vs. NOP,...,0.427,8,111,GSW,21,2015-10-27,0.909,29,96,1610612744
6222,13,40,1,37,0.368,47,240,7,23,CHI vs. CLE,...,0.425,6,97,CHI,7,2015-10-27,0.696,22,87,1610612741
6221,22,33,1,37,0.296,40,240,8,15,ATL vs. DET,...,0.451,9,94,ATL,7,2015-10-27,0.8,25,82,1610612737

In [69]:
game_log = pd.read_csv('../Data/game_log.csv')

In [79]:
game_log_ddb = dynamoDB.create_table(
        TableName='game_log',
        KeySchema=[
            {
                'AttributeName': 'GAME_DATE',
                'KeyType': 'HASH'  # Partition key
            },
            {
                'AttributeName': 'GAME_ID',
                'KeyType': 'RANGE'
            }
        ],
        AttributeDefinitions=[
            {
                'AttributeName': 'GAME_DATE',
                'AttributeType': 'S'
            },
            {
                'AttributeName': 'GAME_ID',
                'AttributeType': 'N'
            },

        ],
    BillingMode= 'PAY_PER_REQUEST',
    )

In [72]:
game_log = game_log.drop('_id', axis = 1)

In [73]:
game_log

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,Home,Away,home_team_win
0,22015,1610612744,GSW,Golden State Warriors,21500003,2015-10-27,GSW vs. NOP,W,240,41,...,8,7,20,29,111,16,1,GSW,NOP,1.0
1,22015,1610612741,CHI,Chicago Bulls,21500002,2015-10-27,CHI vs. CLE,W,240,37,...,6,10,13,22,97,2,1,CHI,CLE,1.0
2,22015,1610612737,ATL,Atlanta Hawks,21500001,2015-10-27,ATL vs. DET,L,240,37,...,9,4,15,25,94,-12,1,ATL,DET,0.0
3,22015,1610612747,LAL,Los Angeles Lakers,21500017,2015-10-28,LAL vs. MIN,L,240,35,...,2,4,14,29,111,-1,1,LAL,MIN,0.0
4,22015,1610612756,PHX,Phoenix Suns,21500014,2015-10-28,PHX vs. DAL,L,240,34,...,3,3,18,30,95,-16,1,PHX,DAL,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728,22021,1610612743,DEN,Denver Nuggets,22100678,2022-01-19,DEN vs. LAC,W,265,48,...,9,3,12,15,130,2,1,DEN,LAC,1.0
7729,22021,1610612747,LAL,Los Angeles Lakers,22100680,2022-01-19,LAL vs. IND,L,240,40,...,4,7,11,18,104,-7,1,LAL,IND,0.0
7730,22021,1610612749,MIL,Milwaukee Bucks,22100674,2022-01-19,MIL vs. MEM,W,240,46,...,7,6,15,21,126,12,1,MIL,MEM,1.0
7731,22021,1610612752,NYK,New York Knicks,22100681,2022-01-20,NYK vs. NOP,NaN,120,17,...,3,3,6,7,53,-17,0,NYK,NOP,NaN
7732,22021,1610612742,DAL,Dallas Mavericks,22100682,2022-01-20,DAL vs. PHX,NaN,120,24,...,1,2,12,13,68,-1,0,DAL,PHX,NaN

In [76]:
game_log.isna().sum()

SEASON_ID            0
TEAM_ID              0
TEAM_ABBREVIATION    0
TEAM_NAME            0
GAME_ID              0
GAME_DATE            0
MATCHUP              0
WL                   5
MIN                  0
FGM                  0
FGA                  0
FG_PCT               0
FG3M                 0
FG3A                 0
FG3_PCT              0
FTM                  0
FTA                  0
FT_PCT               1
OREB                 0
DREB                 0
REB                  0
AST                  0
STL                  0
BLK                  0
TOV                  0
PF                   0
PTS                  0
PLUS_MINUS           0
VIDEO_AVAILABLE      0
Home                 0
Away                 0
home_team_win        5
dtype: int64

In [78]:
from decimal import Decimal
import json

game_log_dict = game_log[~game_log['home_team_win'].isna()].to_dict(orient = 'records')
game_log_json = [json.loads(json.dumps(item), parse_float=Decimal) for item in game_log_dict]

In [82]:
with game_log_ddb.batch_writer() as batch:
    for i in range(len(game_log_json)):
        batch.put_item(Item = game_log_json[i])

In [ ]:
'''
re write code in api for background scheduler functions
update requirements.txt
test api on local with aws creds as env vars
test it on docker
THEN MOVE TO ECR AND EB


'''